---
import HeroLogo from "../components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
    <span class="animate-fade-in animate-delay-300 uppercase text-xl text-secondary bg-primary px-6 py-1 nb-9 font-medium">
        Presentacion de la
    </span>
    <HeroLogo class="text-primary animate-fade-in-up w-full h-auto md:w-[800px]"/>
</section>